html, body {
    font-family: 'DM Sans', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*---------------- HERO ------------------*/
.hero {
    width: 80%;
    margin: auto auto;
}

.hero-header {
    padding: 29px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 40px;
}

.menu {
    justify-content: flex-end;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #91aeb8;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    margin: auto 0;
}

.projectsMenu {
    font-feature-settings: "clig" off, "liga" off;
    font-family: DM Sans, sans-serif;
    line-height: 100%;
}

.blogsMenu{
    font-feature-settings: "clig" off, "liga" off;
    font-family: DM Sans, sans-serif;
    line-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.header-text {
    margin-top: 300px;
    line-height: 50px;
    font-weight:500;
}

.typing {
    font-size: 120px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #91aeb8;
    font-feature-settings: "clig" off, "liga" off;
    margin-top: 293px;
}

.typed-cursor {
    font: 200 120px DM Sans, sans-serif;
    color: #91aeb8;
}

.hook {
    color: #91aeb8;
    font-feature-settings: "clig" off, "liga" off;
    align-self: start;
    margin: 35px 0 0 16px;
    font: 400 20px/26px DM Sans, sans-serif;
    width: 400px;
}

.highlight {
    color: rgb(234,210,0);
}


/*---------------- ABOUT ME ------------------*/
.aboutMe {
    padding: 50px 60px;
    gap:20px;
    display: flex;
    flex-direction: row;
    margin: 380px auto;
}

.profile {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 500px;
    margin-right: 50px;
}

.aboutMe-text {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 48%;
}

.aboutMe-logo {
    margin-top: 60px;
    width: 60px;
}

h1 {
    color: #7c9aa5;
    font-feature-settings: "clig" off, "liga" off;
    font: 700 36px DM Sans, sans-serif;
    margin-top: 10px;
}

.aboutMe-paragraph {
    color: #91aeb8;
    font-feature-settings: "clig" off, "liga" off;
    margin-top: -10px;
    font: 400 19px/30px DM Sans, sans-serif;
    width: 460px;
    line-height: 28px;
}

/*---------------- SELECTED WORKS ------------------*/

.selectedWorks {
    color:#91aeb8;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 80%;
    margin: 0 auto;
    letter-spacing: 0.6px;
}

h2 {
    color:#7c9aa5;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: bold;
    font-feature-settings: "clig" off, "liga" off;
    font: 700 36px DM Sans, sans-serif;
}

h3 {
    color:#7c9aa5;
    font: 700 24px DM Sans, sans-serif;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
}

.worksContainer {
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 21px;
}

.projectCard {
    width: 32%;
    height: 470px;
    border-radius: 24px;
    border: 1px solid #bfd8e0;
    background-color: white;
    padding: 32px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.selectedWorksText {
    margin-top: -20px;
    font: 400 18px/21px DM Sans, san-serif;
    width: 100%;
    text-align: center;
    margin-bottom:50px;
}

.testimg {
    margin-top: 10px;
    width: 100%;
    border-radius: 24px;
    border: 1px solid #bfd8e0;
}

.projectsButton {
    color: #7c9aa5;
    padding: 20px 60px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1.333px solid #91aeb8;
    font: 400 18px DM Sans, sans-serif;
}

/*---------------- BLOGS ------------------*/

.blogs {
    color:#91aeb8;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 80%;
    margin: 0 auto;
    letter-spacing: 0.6px;
    margin: 380px auto;
}

.blogsContainer {
    flex-direction: row;
    display: flex;
    height: 670px;
    justify-content: center;
    gap: 24px;
}

/* Main Blog */

.mainBlog {
    width: 54.7%;
    height: 670px;
    border-radius: 24px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.mainImage {
    width: 100%;
    height: 60%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.mainText {
    padding: 0 35px;
}

h4 {
    color:#7c9aa5;
    font: 700 24px DM Sans, sans-serif;
    text-align: left;
    font-feature-settings: "clig" off, "liga" off;
}

.mainParagraph {
    margin-top:-17px;
    color:#91aeb8;
    font: 400 18px DM Sans, sans-serif;
}

.mainDivider {
    border-top: 1px solid #E1E4ED;
    padding: 5px 50px;
    margin: 0 auto;
}

.mainDetails {
    font: 600 14px DM Sans, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Side Blogs */

.sideBlogs {
    width: 43%;
    flex-direction: column;
}

.blogCard {
    height: 29.5%;
    border-radius: 24px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin-bottom: 38px;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    gap: 24px;
}

.sideImage {
    width: 35%;
    object-fit: cover;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.sideText {
    padding: 30px 8px;
    width: 100%;
    height: 100%;
}

h5 {
    color:#7c9aa5;
    font: 700 17px DM Sans, sans-serif;
    text-align: left;
    font-feature-settings: "clig" off, "liga" off;
    width: 85%;
}

.sideDivider {
    border-top: 1px solid #E1E4ED;
    padding: 0 10px;
    margin: 0 auto;
}

.sideDetails {
    font: 400 14px DM Sans, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin-top: -15px
}

